.calculadora {
    height: 320px;
    width: 235px;
    border-radius: 10px;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 45px 45px 45px 45px;
}